{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
      {% if block.settings.text %}
        <div
          class="text-center announcement-bar color-{{ block.settings.color_scheme }}"
          role="region"
          aria-label="{{ 'sections.header.announcement' | t }}"
          {{ block.shopify_attributes }}
        >
          <div class="marquee">
            <div class="marquee-content">
              {%- if block.settings.link != blank -%}
                <a
                  href="{{ block.settings.link }}"
                  class="announcement-bar__link link link--text focus-inset animate-arrow"
                >
              {%- endif -%}
              <span class="announcement-bar__message h5">
                {{ block.settings.text | escape }}
              </span>
              {%- if block.settings.link != blank -%}
                {% render 'icon-arrow' %}
              {%- endif -%}
              {%- if block.settings.link != blank -%}
                </a>
              {%- endif -%}
            </div>
          </div>
        </div>
      {% endif %}
  {%- endcase -%}
{%- endfor -%}
